<!DOCTYPE html>
<html>
<head>
    <title>Image Analysis and Caption Search</title>
</head>
<body>
    <h1>Search by Image or Caption</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <label for="image_url">Enter Image URL/ Choose image:</label><br>
        <input type="text" id="image_url" name="image_url" size="30">
        <input type="file" name="file" accept="image/*">
        <br><br><input type="submit" name="submit_type" value="Search Image"><br><br>
    </form>
    <form method="POST" action="/">
        <label for="caption">Enter Caption:</label><br>
        <input type="text" id="caption" name="caption" size="50">

        <input type="submit" name="submit_type" value="Search Caption">
    </form>
</body>
</html>
